*{
    box-sizing: border-box;
}

@font-face {
  font-family: Baloo2;
   src: url("assets/fonts/Baloo2.ttf");
 }

html {
    scroll-behavior: smooth; 
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Baloo2', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: rgba(224, 224, 224, 0.5);
  }

header{
    background-color: white;
}

.main {
    margin-bottom: auto;
}

footer{ 
    background-color:white;
}

h3 {
  text-align: center;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.747);
  text-transform: uppercase;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 50px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(196, 196, 196, 0.5);
  }

@media (max-width: 1440px) {
    .container {
      padding: 0 0.8em;
    }
  }

  ul {
    padding-inline-start: 1.1em;
    margin-block-start: 0;
  }

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-block: 0;
    flex-wrap: wrap;
  }

  .nav-link {
    position: relative;
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-weight: 700;
    color: rgb(37, 90, 187);
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -5px;
    width: calc(100% - 24px);
    height: 3px;
    background-color: rgba(224, 224, 224, 0.5);
    opacity: 0;
    transition: .5s;
  }
  
  .nav-link:hover::after {
    opacity: 1;
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slidein {
    from {
      width: 0;
    }
    to {
      width: calc(100% - 24px);
    }
  }

  .section-item a {
    color: rgb(37, 90, 187);
    text-decoration: none;  
    transition: color 0.5s;
  }

  .section-item a:hover {
    color: #4d2323;
  }
  
  .section {
    width: calc(50% - 10px);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.5em;
    margin: 5px 5px;
  }

  .section-profile {
      display: flex;
      justify-content: space-around;
      width: 100%;
      flex-wrap: wrap;
      margin-top: 10px;
  }

  .section-title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(37, 90, 187);
}

.photo {
  display: flex;
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 0%;
  margin-left: 3em;
}

  @media (max-width: 768px) {
    .section {
      width: 100%;
      min-width: 410px;
    }
    .name-title {
      font-size: 28px;
      letter-spacing: 1px;
      }
      .photo {
        margin-left: 0;
      }

      .nav-link {
        line-height: 30px;
      }
      .nav-link::after {
        bottom: +5px;
      }
      .container {
        min-width: 410px;
      }
      
      .nav-link {
        padding: 5px;
      }
  }

  pre {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
  }

  .contacts-list {
    display: block;
    list-style: none;
    text-align: start;
    padding-inline-start: 0;
  }


  .name-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
    line-height: 50px;
    word-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid rgba(224, 224, 224, 0.5);
  }

  @media (max-width: 410px) {

}

.footer-link{
  height: 50px;
  padding-top: 12px;
}

.footer-link-sec{
  height: 50px;
  padding-top: 5px;
}